<?xml version="1.0"?>
<connectionStrings>
  <add name="EPiServerDB"
       connectionString="Data Source=.\SQLExpress;
         Initial Catalog=EpiDemoStaticToDynamic;
         Connection Timeout=60;
         Integrated Security=True;
         MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient" />
</connectionStrings>
